
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
    position: relative;
    display: flex;
     justify-content: center;
    align-items: center;
    min-height: 100vh;  
   min-width: 100vw;   
} 

body::before { 
    content: "";  
     position: absolute; 
    
    background-image: url('/assets/pic2.jpg'); 
    filter: blur(10px);
    min-height: 100vh;
     min-width: 100vw; 
     z-index: o; 
} 
    




.box{
     z-index: 5; 
    
    position: relative;
    width:25em ;
    height:35em;
      
    border-radius: 8px;
    overflow: hidden;
    border: beige;
}
 /* .box::before{
    content: '';
position: absolute;
top: -50%;
left: -50%;
width: 380px;
height: 420px;
background: linear-gradient(0deg,transparent,
transparent,rgb(157, 188, 247),rgb(157, 188, 247),rgb(157, 188, 247));
z-index: 1;
transform-origin: bottom right;
animation: animate 6s linear infinite;
}
.box::after{
    content: '';
position: absolute;
top: -50%;
left: -50%;
width: 380px;
height: 420px;
background: linear-gradient(0deg,transparent,
transparent,rgb(157, 188, 247),rgb(157, 188, 247),rgb(157, 188, 247));
z-index: 1;
transform-origin: bottom right;
animation: animate 6s linear infinite;
animation-delay: -3s;
}
.borderline{
    position: absolute;
    top: 0;
    inset: 0;

}
.borderline::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent,silver,silver,silver);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}
.borderline::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent,silver,silver,silver);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
  */
  .borderline{
    position: absolute;
    top: 0;
    inset: 0;
    

}
.box form{
position: absolute;
inset: 4px;
background: transparent;
padding: 50px 40px;
border-radius: 8px;
display: flex;
flex-direction: column;
z-index: 2;
border-color: aliceblue;
}
.box form h2{
    color: rgb(15, 15, 15);
    font-weight: 1000;
    text-align: center;
    letter-spacing: 0.1em;
}
.box form .inputbox{
position: relative; 
width:300px;
 margin-top:15px; 
 

}
.box form .inputbox input{
 position:relative; 
width: 100%;
padding: 20px 10px 10px;
background: black;
 outline: none; 
border: none; 
 box-shadow: none; 
color: rgb(232, 230, 247); 
font-size: 1em;
letter-spacing:0,05em ;
transition: 0.5s;
z-index: 10;
}
.box form .inputbox label{
    position: relative;
     left: 0; 
     padding: 20px 10px 10px; 
    pointer-events: none;
     color: white; 
    font-size: 1em;
    letter-spacing:0,05em ;
    transition: 0.5s;
    font-weight: 800;
}







