<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="box">
        {{!-- <span class="borderline"></span> --}}


        <form>

        <h2>SIGN UP</h2>

        <div class="inputbox">
        <label for="">Name</label><br>

        <input type="text" name="name" id="name" placeholder="Name">
        
        </div>
        
         <br>
<div class="inputbox">

<label for="">Email</label><br>

<input type="text" name="email" id="email" placeholder="Email">

 </div>
<br>

<div class="inputbox">

<label for="">Password</label> <br>

<input type="password" name="password" id="password">
 </div>
<br>

<div class="inputbox">

<label for="">Confirm Password</label> <br>

<input type="password" name="confirmPassword" id="confirmpassword">
 </div>
<br>

<input type="submit"  style="color: rgb(3, 7, 44);" onclick="doSignup()"><br>

</form>
    </div>
l




    <script src="/script.js"></script>
</body>
</html>